/* mobile phone view */

@media only screen and (max-width: 600px) {
  /* * {
    background-color: #9fedd3;
  } */
  /*navbar start */
  .head-flex {
    display: none;
  }
  .menu a.active,
  a:hover {
    transition: 0.5s;
  }
  .checkbtn {
    font-size: 20px;
    float: right;
    line-height: 40px;
    cursor: pointer;
    margin-right: 25px;
  }
  #check {
    display: none;
  }
  .logo {
    margin: 10px;
    margin-right: 20px;
  }
  .menu {
    list-style-type: none;
    padding: 0;
  }
  .menu li {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 1px solid #ee8888;
    padding-bottom: 5px;
    text-align: center;
  }
  .menu li a {
    color: #181b54;
    font-weight: 650;
    text-decoration: none;
  }
  .hide {
    display: block;
  }
  /*navbar end */

  /* main Start */
  /*img */
  .img-main img {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }

  .item2 {
    display: none;
  }
  /* Button */
  .btn-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
  }
  .soft-btn,
  .account-btn,
  .certificate-btn {
    border: 2px solid #3640fc;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #4949c2;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
  }
  .soft-btn:hover,
  .account-btn:hover,
  .certificate-btn:hover {
    background-color: #fc3636;
    color: #f9f905e2;
    border: 2px solid #f9f905e2;
    text-decoration: underline;
  }

  /* recognised */

  .recog {
    font-family: sans-serif;
    text-align: center;
    color: #3640fc;
    font-size: 16px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
    margin-top: 30px;
    align-items: center;
  }
  #startup {
    height: 50px;
  }

  .ec-ad {
    display: none;
  }

  .ec-ad-right h2 {
    color: rgb(248, 38, 38);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ec-ad-right h2 span {
    font-size: 10px;
    font-weight: 500;
    color: rgb(227, 32, 32);
    font-family: "Poppins", sans-serif;
  }
  .ec-ad-right p {
    font-size: 15px;
    color: rgb(57, 57, 57);
    font-family: "Poppins", sans-serif;
  }

  #head-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
  }
  #head-ul li {
    border: 2px solid rgb(182, 220, 244);
    background-color: rgb(182, 220, 244);
    border-radius: 10px;
    list-style: none;
    margin-left: 5px;
    margin-right: 15px;
    padding: 10px;
    width: 120px;
    height: 80px;
    color: #3640fc;
    font-weight: bold;
    text-align: center;
  }

  /* fssai start */

  .fssai-h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.926);
    margin-top: -15px;
  }
  .fssai-content img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .fssai-content p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .fssai-content p span {
    color: #4949c2;
  }

  .filing h3 {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .filing h3 span {
    color: #fc3636;
    font-size: 10px;
  }

  .filing p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
    margin-top: -10px;
  }
  /* gst software start */
  .gst-soft {
    float: inline-start;
  }

  .gst-soft h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: rgb(96, 94, 94);
  }

  .gst-flex img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .gst-flex p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }
  /* EcStart */

  .ec {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 164, 136);
    font-weight: 100;
  }

  .ec span {
    color: rgb(30, 84, 30);
  }
  .ec-start {
    color: rgb(156, 46, 46);
  }
  #ec-start {
    color: rgba(89, 88, 88, 0.96);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }

  .side-head {
    text-align: center;
    color: rgba(128, 128, 128, 0.792);
    font-weight: 100;
  }
  .side-li {
    color: rgba(89, 88, 88, 0.96);
  }
  #ice-imp {
    font-size: 16px;
    color: rgba(89, 88, 88, 0.96);
    margin-top: -10px;
    margin-left: 0.7rem;
  }

  #ice-imp span {
    border: 1px solid rgb(255, 85, 0);
    background-color: rgb(225, 82, 42);
    font-size: 7px;
    padding: 2px;
    border-radius: 2px;
    color: black;
  }

  #ice-exp {
    font-size: 17px;
    font-weight: 300;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }
  /* register */
  #register {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 200;
    color: rgb(53, 53, 53);
  }
  #qus-mark {
    width: 75%;
    height: 15%;
    margin-left: 10%;
  }
  #qus-mark ol {
    color: gray;
    margin-left: 0.5rem;
    padding-left: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
  }

  #qus-mark ol span {
    color: rgb(239, 32, 32);
    font-size: 8px;
  }
  #reg-para {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }

  /* Virtual acc start */
  #virtual-acc {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(96, 94, 94);
    margin-top: -10px;
  }
  .free-reg {
    color: #3640fc;
    margin-left: 0.5rem;
  }
  .free-reg span {
    font-size: 10px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
  }
  .free-reg p {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: 5px;
    font-family: "Nunito", sans-serif;
  }
  /* Account software start */
  #acc-soft {
    font-weight: 100;
    font-size: 16px;
    color: rgb(65, 64, 64);
    font-family: "Nunito", sans-serif;
    margin-left: 0;
  }
  #acc-soft-para {
    margin-top: -20px;
    font-size: 16px;
    margin-left: 0.5rem;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  #acc-soft-para span {
    color: #fc3636;
    font-size: 10px;
    font-weight: bold;
  }
  /* our service*/
  #ser-para {
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  .btn-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 10px;
    gap: 2rem;
    margin-left: 5%;
    margin-top: -0.5rem;
  }
  .btn {
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #545492;
    width: 30%;
  }

  .btn p {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: auto;
  }
  .btn p:hover {
    cursor: pointer;
    color: #e3eb74a2;
    text-decoration: underline;
  }
  #btn1 {
    background-color: #4949c2;
  }

  #btn2 {
    background-color: #215d25;
  }

  #btn3 {
    background-color: #31ec56;
  }

  #btn4 {
    background-color: #633259;
  }
  #btn5 {
    background-color: #7070c1;
  }
  #btn6 {
    background-color: #49a4d9;
  }
  #btn7 {
    background-color: #1717bd;
  }
  #btn8 {
    background-color: #fd2222;
  }
  #btn9 {
    background-color: #77721fa9;
  }
  #btn10 {
    background-color: #1e1e8b66;
  }

  /* fssai lincence start */

  #bsi-isi {
    font-weight: 100;
    font-size: 18px;
    color: rgb(41, 96, 151);
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
  }
  #bsi-isi:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .licence {
    margin-right: 20px;
    gap: 5rem;
  }
  .licence img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .licence p {
    margin-left: 0.5rem;
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  /* our partner start */
  .partner {
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
  }
  /* main end */
  /* footer start */
  .footer {
    background-color: #6565dd;
  }
  .footer .box-container {
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
    text-align: center;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.7rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
    margin-left: 2rem;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }
}

/* tab and large phone */
@media only screen and (min-width: 600px) {
  .head-flex {
    display: none;
  }
  .head-flex {
    display: none;
  }
  .menu a.active,
  a:hover {
    transition: 0.5s;
  }
  .checkbtn {
    font-size: 22px;
    float: right;
    line-height: 40px;
    cursor: pointer;
    margin-right: 25px;
    background-color: antiquewhite;
  }
  #check {
    display: none;
  }
  .logo {
    margin: 10px;
    margin-right: 20px;
  }
  .menu {
    list-style-type: none;
    padding: 0;
  }
  .menu li {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 1px solid #ee8888;
    padding-bottom: 5px;
    text-align: center;
  }
  .menu li a {
    color: #181b54;
    font-weight: 650;
    text-decoration: none;
  }
  .hide {
    display: block;
  }
  /*navbar end */

  /* main Start */
  /*img */
  .img-main img {
    display: flex;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }

  .item2 {
    display: none;
  }
  /* Button */
  .btn-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
  }
  .soft-btn,
  .account-btn,
  .certificate-btn {
    border: 2px solid #3640fc;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #4949c2;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
  }
  .soft-btn:hover,
  .account-btn:hover,
  .certificate-btn:hover {
    background-color: #fc3636;
    color: #f9f905e2;
    border: 2px solid #f9f905e2;
    text-decoration: underline;
  }

  /* recognised */

  .recog {
    font-family: sans-serif;
    text-align: center;
    color: #3640fc;
    font-size: 16px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
    margin-top: 30px;
    align-items: center;
  }
  #startup {
    height: 50px;
  }

  .ec-ad {
    display: none;
  }

  .ec-ad-right h2 {
    color: rgb(248, 38, 38);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ec-ad-right h2 span {
    font-size: 10px;
    font-weight: 500;
    color: rgb(227, 32, 32);
    font-family: "Poppins", sans-serif;
  }
  .ec-ad-right p {
    font-size: 15px;
    color: rgb(57, 57, 57);
    font-family: "Poppins", sans-serif;
  }

  #head-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
  }
  #head-ul li {
    border: 2px solid rgb(182, 220, 244);
    background-color: rgb(182, 220, 244);
    border-radius: 10px;
    list-style: none;
    margin-left: 5px;
    margin-right: 15px;
    padding: 10px;
    width: 120px;
    height: 80px;
    color: #3640fc;
    font-weight: bold;
    text-align: center;
  }

  /* fssai start */

  .fssai-h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.926);
    margin-top: -15px;
  }
  .fssai-content img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .fssai-content p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .fssai-content p span {
    color: #4949c2;
  }

  .filing h3 {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .filing h3 span {
    color: #fc3636;
    font-size: 10px;
  }

  .filing p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
    margin-top: -10px;
  }
  /* gst software start */
  .gst-soft {
    float: inline-start;
  }

  .gst-soft h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: rgb(96, 94, 94);
  }

  .gst-flex img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .gst-flex p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }
  /* EcStart */

  .ec {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 164, 136);
    font-weight: 100;
  }

  .ec span {
    color: rgb(30, 84, 30);
  }
  .ec-start {
    color: rgb(156, 46, 46);
  }
  #ec-start {
    color: rgba(89, 88, 88, 0.96);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }

  .side-head {
    text-align: center;
    color: rgba(128, 128, 128, 0.792);
    font-weight: 100;
  }
  .side-li {
    color: rgba(89, 88, 88, 0.96);
  }
  #ice-imp {
    font-size: 16px;
    color: rgba(89, 88, 88, 0.96);
    margin-top: -10px;
    margin-left: 0.7rem;
  }

  #ice-imp span {
    border: 1px solid rgb(255, 85, 0);
    background-color: rgb(225, 82, 42);
    font-size: 7px;
    padding: 2px;
    border-radius: 2px;
    color: black;
  }

  #ice-exp {
    font-size: 17px;
    font-weight: 300;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }
  /* register */
  #register {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 200;
    color: rgb(53, 53, 53);
  }
  #qus-mark {
    width: 75%;
    height: 15%;
    margin-left: 10%;
  }
  #qus-mark ol {
    color: gray;
    margin-left: 0.5rem;
    padding-left: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
  }

  #qus-mark ol span {
    color: rgb(239, 32, 32);
    font-size: 8px;
  }
  #reg-para {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }

  /* Virtual acc start */
  #virtual-acc {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(96, 94, 94);
    margin-top: -10px;
  }
  .free-reg {
    color: #3640fc;
    margin-left: 0.5rem;
  }
  .free-reg span {
    font-size: 10px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
  }
  .free-reg p {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: 5px;
    font-family: "Nunito", sans-serif;
  }
  /* Account software start */
  #acc-soft {
    font-weight: 100;
    font-size: 16px;
    color: rgb(65, 64, 64);
    font-family: "Nunito", sans-serif;
    margin-left: 0;
  }
  #acc-soft-para {
    margin-top: -20px;
    font-size: 16px;
    margin-left: 0.5rem;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  #acc-soft-para span {
    color: #fc3636;
    font-size: 10px;
    font-weight: bold;
  }
  /* our service*/
  #ser-para {
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  .btn-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 10px;
    gap: 2rem;
    margin-left: 5%;
    margin-top: -0.5rem;
  }
  .btn {
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #545492;
    width: 30%;
  }

  .btn p {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: auto;
  }
  .btn p:hover {
    cursor: pointer;
    color: #e3eb74a2;
    text-decoration: underline;
  }
  #btn1 {
    background-color: #4949c2;
  }

  #btn2 {
    background-color: #215d25;
  }

  #btn3 {
    background-color: #31ec56;
  }

  #btn4 {
    background-color: #633259;
  }
  #btn5 {
    background-color: #7070c1;
  }
  #btn6 {
    background-color: #49a4d9;
  }
  #btn7 {
    background-color: #1717bd;
  }
  #btn8 {
    background-color: #fd2222;
  }
  #btn9 {
    background-color: #77721fa9;
  }
  #btn10 {
    background-color: #1e1e8b66;
  }

  /* fssai lincence start */

  #bsi-isi {
    font-weight: 100;
    font-size: 18px;
    color: rgb(41, 96, 151);
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
  }
  #bsi-isi:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .licence {
    margin-right: 20px;
    gap: 5rem;
  }
  .licence img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .licence p {
    margin-left: 0.5rem;
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  /* our partner start */
  .partner {
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
  }
  /* main end */
  .footer {
    background-color: #6565dd;
  }
  .footer .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
    padding: 15px;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.7rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }
}

/* landscap tab */

@media only screen and (min-width: 768px) {
  /* header */

  header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 35%;
    z-index: 3;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }
  .head-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px;
    background-color: #bcdfdc;
  }

  .tophead {
    padding: 10px 5px;
    color: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
  }

  .reg-btn {
    display: none;
  }

  a {
    color: #2929f8;
    text-decoration: none;
    background-color: transparent;
  }

  .phno {
    display: none;
  }
  /* nav */
  #check {
    display: none;
  }
  .checkbtn {
    display: none;
  }
  .logo {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    gap: 10px;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row: 5px;
    gap: 1rem;
    font-size: 16px;
    list-style: none;
    gap: 15px;
    cursor: pointer;
  }

  li a {
    text-decoration: none;
    color: #4949c2;
    margin-right: 20px;
  }

  .menu li:hover {
    font-size: 20px;
  }
  /* */

  /*navbar end */

  /* main Start */
  /*img */
  .img-main {
    margin-top: 16rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row: 5px;
    gap: 1rem;
  }

  .img-main div img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }

  .item2 {
    grid-column: span 2;
    grid-row: span 2;
  }
  /* Button */
  .btn-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
  }
  .soft-btn,
  .account-btn,
  .certificate-btn {
    border: 2px solid #3640fc;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #4949c2;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
  }
  .soft-btn:hover,
  .account-btn:hover,
  .certificate-btn:hover {
    background-color: #fc3636;
    color: #f9f905e2;
    border: 2px solid #f9f905e2;
    text-decoration: underline;
  }

  /* recognised */

  .recog {
    font-family: sans-serif;
    text-align: center;
    color: #3640fc;
    font-size: 16px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
    padding: 1.5rem;
    margin-top: 30px;
    align-items: center;
  }
  #startup {
    height: 50px;
  }

  .ec-ad {
    display: none;
  }

  .ec-ad-right h2 {
    color: rgb(248, 38, 38);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ec-ad-right h2 span {
    font-size: 10px;
    font-weight: 500;
    color: rgb(227, 32, 32);
    font-family: "Poppins", sans-serif;
  }
  .ec-ad-right p {
    font-size: 15px;
    color: rgb(57, 57, 57);
    font-family: "Poppins", sans-serif;
  }

  #head-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
  }
  #head-ul li {
    border: 2px solid rgb(182, 220, 244);
    background-color: rgb(182, 220, 244);
    border-radius: 10px;
    list-style: none;
    margin-left: 5px;
    margin-right: 15px;
    padding: 10px;
    width: 120px;
    height: 80px;
    color: #3640fc;
    font-weight: bold;
    text-align: center;
  }

  /* fssai start */

  .fssai-h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.926);
    margin-top: -15px;
  }
  .fssai-content img {
    width: 70%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .fssai-content p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .fssai-content p span {
    color: #4949c2;
  }

  .filing h3 {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .filing h3 span {
    color: #fc3636;
    font-size: 10px;
  }

  .filing p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
    margin-top: -10px;
  }
  /* gst software start */
  .gst-soft {
    float: inline-start;
  }

  .gst-soft h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: rgb(96, 94, 94);
  }

  .gst-flex img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .gst-flex p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }
  /* EcStart */

  .ec {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 164, 136);
    font-weight: 100;
  }

  .ec span {
    color: rgb(30, 84, 30);
  }
  .ec-start {
    color: rgb(156, 46, 46);
  }
  #ec-start {
    color: rgba(89, 88, 88, 0.96);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }

  .side-head {
    text-align: center;
    color: rgba(128, 128, 128, 0.792);
    font-weight: 100;
  }
  .side-li {
    color: rgba(89, 88, 88, 0.96);
  }
  #ice-imp {
    font-size: 16px;
    color: rgba(89, 88, 88, 0.96);
    margin-top: -10px;
    margin-left: 0.7rem;
  }

  #ice-imp span {
    border: 1px solid rgb(255, 85, 0);
    background-color: rgb(225, 82, 42);
    font-size: 7px;
    padding: 2px;
    border-radius: 2px;
    color: black;
  }

  #ice-exp {
    font-size: 17px;
    font-weight: 300;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }
  /* register */
  #register {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 200;
    color: rgb(53, 53, 53);
  }
  #qus-mark {
    width: 75%;
    height: 15%;
    margin-left: 10%;
  }
  #qus-mark ol {
    color: gray;
    margin-left: 0.5rem;
    padding-left: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
  }

  #qus-mark ol span {
    color: rgb(239, 32, 32);
    font-size: 8px;
  }
  #reg-para {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }

  /* Virtual acc start */
  #virtual-acc {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(96, 94, 94);
    margin-top: -10px;
  }
  .free-reg {
    color: #3640fc;
    margin-left: 0.5rem;
  }
  .free-reg span {
    font-size: 10px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
  }
  .free-reg p {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: 5px;
    font-family: "Nunito", sans-serif;
  }
  /* Account software start */
  #acc-soft {
    font-weight: 100;
    font-size: 16px;
    color: rgb(65, 64, 64);
    font-family: "Nunito", sans-serif;
    margin-left: 0;
  }
  #acc-soft-para {
    margin-top: -20px;
    font-size: 16px;
    margin-left: 0.5rem;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  #acc-soft-para span {
    color: #fc3636;
    font-size: 10px;
    font-weight: bold;
  }
  /* our service*/
  #ser-para {
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  .btn-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 10px;
    gap: 2rem;
    margin-left: 5%;
    margin-top: -0.5rem;
  }
  .btn {
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #545492;
    width: 30%;
  }

  .btn p {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: auto;
  }
  .btn p:hover {
    cursor: pointer;
    color: #e3eb74a2;
    text-decoration: underline;
  }
  #btn1 {
    background-color: #4949c2;
  }

  #btn2 {
    background-color: #215d25;
  }

  #btn3 {
    background-color: #31ec56;
  }

  #btn4 {
    background-color: #633259;
  }
  #btn5 {
    background-color: #7070c1;
  }
  #btn6 {
    background-color: #49a4d9;
  }
  #btn7 {
    background-color: #1717bd;
  }
  #btn8 {
    background-color: #fd2222;
  }
  #btn9 {
    background-color: #77721fa9;
  }
  #btn10 {
    background-color: #1e1e8b66;
  }

  /* fssai lincence start */

  #bsi-isi {
    font-weight: 100;
    font-size: 18px;
    color: rgb(41, 96, 151);
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
  }
  #bsi-isi:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .licence {
    margin-right: 20px;
    gap: 5rem;
  }
  .licence img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .licence p {
    margin-left: 0.5rem;
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  /* our partner start */
  .partner {
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
  }
  /* main end */
  .footer {
    background-color: #6565dd;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    justify-content: center;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
    padding: 15px;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.7rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }
}

/*Extra large */
@media only screen and (min-width: 1200px) {
  /* header */

  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* header-start */
  header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 25%;
    z-index: 3;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }
  .head-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px;
    background-color: #bcdfdc;
  }

  .tophead {
    padding: 10px 5px;
    color: blue;
    margin-left: 15rem;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }

  .reg-btn {
    display: inline-block;
    border: #3640fc;
    background-color: #3640fc;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 15rem;
  }

  a {
    color: #2929f8;
    text-decoration: none;
    background-color: transparent;
  }

  .phno {
    display: none;
  }
  /* nav */

  #check {
    display: none;
  }
  .checkbtn {
    display: none;
  }
  .logo {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    gap: 30px;
  }

  .menu {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 20px;
    list-style: none;
    gap: 20px;
    cursor: pointer;
  }

  li a {
    color: #4949c2;
    margin-right: 20px;
  }

  .menu li:hover {
    font-size: 25px;
  }

  /* */

  /*navbar end */

  /* main Start */
  /*img */
  .img-main {
    margin-top: 16rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 5px;
    gap: 1rem;
  }

  .img-main div img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }

  .item2 {
    grid-column: span 2;
    grid-row: span 2;
  }
  /* Button */
  .btn-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin: 20px;
  }

  .soft-btn,
  .account-btn,
  .certificate-btn {
    border: 2px solid #3640fc;
    margin-right: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #4949c2;
    color: #fff;
    font-weight: bold;
  }

  .soft-btn:hover,
  .account-btn:hover,
  .certificate-btn:hover {
    background-color: #fc3636;
    color: #f9f905e2;
    border: 2px solid #f9f905e2;
    text-decoration: underline;
  }

  /* recognised */

  .recog {
    font-family: sans-serif;
    text-align: center;
    color: #3640fc;
    font-size: 16px;
  }
  .partner-logo {
    margin-left: 20%;
  }
  .partner-logo img {
    margin-right: 2rem;
    padding: 1.5rem;
    margin-top: 30px;
    align-items: center;
  }
  #startup {
    height: 50px;
  }

  .ec-ad {
    display: none;
  }

  .ec-ad-right h2 {
    color: rgb(248, 38, 38);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
  }
  .ec-ad-right h2 span {
    font-size: 10px;
    font-weight: 500;
    color: rgb(227, 32, 32);
    font-family: "Poppins", sans-serif;
  }
  .ec-ad-right p {
    font-size: 15px;
    color: rgb(57, 57, 57);
    font-family: "Poppins", sans-serif;
  }

  #head-ul {
    display: flex;
    margin-top: -20px;
    padding: 40px;
    justify-content: center;
  }

  #head-ul li {
    border: 2px solid rgb(182, 220, 244);
    background-color: rgb(182, 220, 244);
    border-radius: 10px;
    list-style: none;
    margin-left: 10px;
    margin-right: 25px;
    padding: 40px;
    width: 120px;
    height: 80px;
    color: #3640fc;
    font-weight: bold;
    text-align: center;
  }

  /* fssai start */

  .fssai-h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(34, 34, 34, 0.926);
    margin-top: -15px;
  }
  .fssai-content img {
    width: 70%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
  }

  .fssai-content p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
  }
  .fssai-content p span {
    color: #4949c2;
  }

  .filing h3 {
    color: blue;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .filing h3 span {
    color: #fc3636;
    font-size: 10px;
  }

  .filing p {
    color: rgb(81, 78, 78);
    margin-left: 0.5rem;
    font-size: 15px;
    margin-top: -10px;
  }
  /* gst software start */
  .gst-soft {
    float: inline-start;
  }

  .gst-soft h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: rgb(96, 94, 94);
  }

  .gst-flex img {
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }

  .gst-flex p {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }
  /* EcStart */

  .ec {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 164, 136);
    font-weight: 100;
  }

  .ec span {
    color: rgb(30, 84, 30);
  }
  .ec-start {
    color: rgb(156, 46, 46);
  }
  #ec-start {
    color: rgba(89, 88, 88, 0.96);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin-left: 0.5rem;
  }

  .side-head {
    text-align: center;
    color: rgba(128, 128, 128, 0.792);
    font-weight: 100;
  }
  .side-li {
    color: rgba(89, 88, 88, 0.96);
  }
  #ice-imp {
    font-size: 16px;
    color: rgba(89, 88, 88, 0.96);
    margin-top: -10px;
    margin-left: 0.7rem;
  }

  #ice-imp span {
    border: 1px solid rgb(255, 85, 0);
    background-color: rgb(225, 82, 42);
    font-size: 7px;
    padding: 2px;
    border-radius: 2px;
    color: black;
  }

  #ice-exp {
    font-size: 17px;
    font-weight: 300;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }
  /* register */
  #register {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 200;
    color: rgb(53, 53, 53);
  }
  #qus-mark {
    width: 75%;
    height: 15%;
    margin-left: 10%;
  }
  #qus-mark ol {
    color: gray;
    margin-left: 0.5rem;
    padding-left: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 250;
  }

  #qus-mark ol span {
    color: rgb(239, 32, 32);
    font-size: 8px;
  }
  #reg-para {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: -10px;
    margin-left: 0.5rem;
    font-family: "Nunito", sans-serif;
  }

  /* Virtual acc start */
  #virtual-acc {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(96, 94, 94);
    margin-top: -10px;
  }
  .free-reg {
    color: #3640fc;
    margin-left: 0.5rem;
  }
  .free-reg span {
    font-size: 10px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
  }
  .free-reg p {
    font-size: 16px;
    font-weight: 200;
    color: rgba(94, 90, 90, 0.96);
    margin-top: 5px;
    font-family: "Nunito", sans-serif;
  }
  /* Account software start */
  #acc-soft {
    font-weight: 100;
    font-size: 16px;
    color: rgb(65, 64, 64);
    font-family: "Nunito", sans-serif;
    margin-left: 0;
  }
  #acc-soft-para {
    margin-top: -20px;
    font-size: 16px;
    margin-left: 0.5rem;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  #acc-soft-para span {
    color: #fc3636;
    font-size: 10px;
    font-weight: bold;
  }
  /* our service*/
  #ser-para {
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  .btn-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
    margin: 10px;
    gap: 2rem;
    margin-left: 5%;
    margin-top: -0.5rem;
  }
  .btn {
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #545492;
    width: 30%;
  }

  .btn p {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    margin: auto;
  }
  .btn p:hover {
    cursor: pointer;
    color: #e3eb74a2;
    text-decoration: underline;
  }
  #btn1 {
    background-color: #4949c2;
  }

  #btn2 {
    background-color: #215d25;
  }

  #btn3 {
    background-color: #31ec56;
  }

  #btn4 {
    background-color: #633259;
  }
  #btn5 {
    background-color: #7070c1;
  }
  #btn6 {
    background-color: #49a4d9;
  }
  #btn7 {
    background-color: #1717bd;
  }
  #btn8 {
    background-color: #fd2222;
  }
  #btn9 {
    background-color: #77721fa9;
  }
  #btn10 {
    background-color: #1e1e8b66;
  }

  /* fssai lincence start */

  #bsi-isi {
    font-weight: 100;
    font-size: 18px;
    color: rgb(41, 96, 151);
    font-family: "Nunito", sans-serif;
    margin-left: 0.5rem;
  }
  #bsi-isi:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .licence {
    margin-right: 20px;
    gap: 5rem;
  }
  .licence img {
    box-shadow: 1px 1px 4px 0 rgb(2, 2, 2);
    width: 75%;
    height: 25%;
    margin-left: 10%;
    margin-bottom: 1rem;
  }
  .licence p {
    margin-left: 0.5rem;
    font-size: 1em;
    color: rgba(94, 90, 90, 0.96);
    font-family: "Nunito", sans-serif;
  }
  /* our partner start */
  .partner {
    text-align: center;
    color: #4949c2;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
  }
  /* main end */
  .footer {
    background-color: #6565dd;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    justify-content: center;
  }
  .footer .box-container .box h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: -3px;
    font-family: "Nunito", sans-serif;
    padding: 15px;
  }
  .footer .box-container .box a {
    color: #fff;
    font-size: 0.7rem;
    display: block;
    padding-left: 15px;
    font-family: "Nunito", sans-serif;
  }
  .footer .box-container .box a:hover {
    text-decoration: underline;
    color: #1717bd;
  }
}
